
<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
<h4 class="pt-4" style="color:red">Checkout Feature is not inplementes for this assignment!</h4>
<a href="/" class="btn btn-danger">Enjoy Shopping</a>